

  <!-- Bottom Nav -->
  <footer>
    
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <h6 class="navbar-text">Copyright &copy; 2022. All Rights reserved.</h6>

      </div>
    </nav>
  </footer>