<!--File Name: contact_me.ejs-->
<!--Student Name: Giselle Fe-->
<!--Student ID: 301186334-->

<body>
<main class="container">
   <div class="p-5 mb-4">
    <div class="container-fluid py-3">
      <div class="contact_form">
        <h1 class="md-8 fs-4">Contact Us!</h1>
        <div class="row" style="padding-top: 20px;">
        <div class="col-sm-5" style="padding-bottom: 20px;">
          <article>
         <form class="mailForm float-start" action="/home" method="get" style="width: 550px;">
            <fieldset style="border: none;">
              <p>
                <legend style="padding: 0px 10px;">First Name:</legend>
                <input style="margin-left: 20px;" name=" txtFirstName" size="40" tabindex="1" type="text" required="required">
              </p>
              <p>
                <legend style="padding: 0px 10px;">Last Name:</legend>
                <input style="margin-left: 20px;" name="txtLastName" size="40" tabindex="3" type="text" required="required">
              </p>
              <p>
                <legend style="padding: 0px 10px;">Email:</legend>
                <input style="margin-left: 20px;" name="txtLastName" size="40" tabindex="5" type="text" required="required">
              </p>
              <p>
                <legend style="padding: 0px 0px;"  >Phone Number:</legend>
                <input style="margin-left: 20px;" name="txtLastName" size="40" tabindex="7" type="text" required="required">
              </p>
              <p>
                <legend style="padding: 0px 0px;">Message:</legend>
                <textarea style="resize: none; margin-left: 20px;" tabindex="9" name="txtMessage" rows="6" cols="42"></textarea>
              </p>
              <p style="margin-left: 0%">
                <legend style="padding: 0px 0px;">
                  <input class="btn btn-primary btn-lg" name="btnSubmit" tabindex="11" type="submit" value="Send Form" >
                </legend>
              </p>
            </fieldset>
          </form>
        </article>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>
</body>