<body>
    <!-- Main Content -->
    <main class="container">
        <div class="row justify-content-center" style="padding-top: 48px; padding-bottom: 80px;">
            <div>
                <h1>
                    <%=title %>
                </h1>
                <br/>
                <div class="row">
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=6387ce1b-af37-47b8-891d-d65e38319de5&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=6387d21a-96ca-420d-8b87-ace679f9f7d3&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=6387cfec-7e6e-479f-8686-2387279e3cd4&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=46380de6-c8ef-4afe-b8ae-58b12555889f&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=638792fe-ea60-46d0-8bc5-5e21f6fe0fc9&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=6387966b-cc4b-4834-8421-58e348b75a41&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=638796c7-6ca1-48ea-8be4-08768a1df87f&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=63879758-9e23-49e4-81b9-2c0ed7e2fb7b&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=638797a5-ea60-4c76-8dd3-5e21f605af99&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                    <div class="col">
                        <iframe style="background: #EEEEEC;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="600" height="440" src="https://charts.mongodb.com/charts-g3-comp229_ass-xvohs/embed/charts?id=638797f4-accb-4e35-8eae-57cb177463b3&maxDataAge=300&theme=light&autoRefresh=true"></iframe>
                    </div>
                </div>
                
                <br />
                <br />
            </div>
        </div>
    </main>
</body>