<!--File Name: survey_content.ejs-->
<!--Student Name: Giselle Fe-->
<!--Student ID: 301186334-->

<body>
  <main class="container">
    <div class="p-5 mb-4" style="padding-top: 10px!important;">
      <div class="container-fluid py-5 text-center">
        <div class="row">

          <h4>
            <div class="col"><a href="/survey-list/add/636d2bc6b8e9bfb2df1c6ae5">Survey 1</a>
          </h4>
          <div class="col"><a href="/survey-list/add/636d2bc6b8e9bfb2df1c6ae5"><img src="/images/survey1.png"
                width="400px" hight="600px"></a></div>
        </div><br>
        <h4>
          <div class="col"><a href="/survey-list/add/636d2be8b8e9bfb2df1c6ae6">Survey 2</a>
        </h4>
        <div class="col"><a href="/survey-list/add/636d2be8b8e9bfb2df1c6ae6"><img src="/images/survey2.png"
              width="400px" hight="600px"></a></div>

      </div>
    </div>
  </main>
</body>