/* Custom CSS goes here */
.menuitem {
  text-decoration: none;
  color: #c7c8c9;
  font-size: 18px;
  position: relative;
  transition: 0.8s all linear;
  padding: 5px 10px;
}

.menuitem.active {
  color: #fff;
}

.menuitem:hover {
  color: #fff;
}

.menuitem::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #54c1be;
}

.menuitem:hover::before {
  animation: ani 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes ani {
  0% {
    width: 0%;
    height: 2px;
    left: 50%;
  }

  50% {
    width: 100%;
    height: 2px;
    left: 0;
  }

  100% {
    width: 100%;
    height: 2px;
    left: 0;
  }
}

p {
  font-size: x-large;
}

body {
  background-color: #EEEEEC;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.survey_buttons {
  position: absolute;
}

.survey {
  width: 50%;
  height: auto;
  background: #f5dbe7;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 20px auto;
  padding: 10px 5px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.template_content {
  width: 50%;
  height: auto;
  background: #e8ff8e;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 20px auto;
  padding: 10px 5px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.survey_content {
  width: 50%;
  height: auto;
  background: #e1f77f;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 20px auto;
  padding: 10px 5px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

.contact_form {
  position: relative;
  width: 50%;
  height: 780px;
  background: #aff5f3;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: 20px auto;
  padding: 10px 5px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative;
  text-align: center;
}

h1 {
  text-align: center;
}

article {
  position: relative;
}

input,
legend {
  position: relative;
  line-height: 1.2em;
  display: block;
}

.content {
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

.banner {
  width: 100%;
  background: url(/images/banner.jpg);
  background-size: cover;
  -moz-background-size: cover;
}